*{
	font-family: Libre Franklin;
}
.logo{
	width: 50%;
	margin-top: 60%;
	width: 80%;	
}
#splash{
	text-align: center;
	position: absolute;
	z-index: 1;
}
.row_splash{
	background-color: #010101;
	height: 100vh;
}
.log_in{
	background-color: #010101;
	height: 100vh;
	text-align: center;
	padding-top: 40vh; 
}
.logo_in{
	width: 20%;
}
.log_in a{
	display: block;
	color: white;
	padding-top: 10vh;
}
.log_in h4{
	color:white;
}














